.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promo {
  height: 640px;
  width: 100%;
  background-color: #fff6f1;
  display: flex;
  justify-content: center;
}

.promoContent {
  padding-top: 20vh;
  width: 1160px;
  display: flex;
  flex-direction: column;
}

.promoCaption {
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 50px;
}
