.header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex: 0 0 auto;
  // border-top: 1px solid var(--color-divider, #efefef);
  background-color: var(--color-bg-1, #fff);
  z-index: 1;
}

.header__logo {
  display: block;
  height: 20px;
  border: 0;
  text-decoration: none;
  color: #1a1919;
  font-size: 20px;
  font-weight: 800;
  img {
    width: 165px;
    // height: 40px;
  }
}

.header__main {
  flex: 0 0 auto;
  padding: 30px;
  padding-left: 40px;
}

.header__nav {
  flex: 1 1 auto;
  padding: 30px;
}

.header__main,
.header__nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  // padding: 20px;
  // border-right: 1px solid #efefef;
}

.header__main:last-child,
.header__nav:last-child {
  border-right: 0;
}

.nav-links {
  position: relative;
  display: block;
  flex: 0 0 auto;
  min-width: 0;
  max-width: 100%;
  margin: 0;
  padding: 0 10px;
  box-sizing: border-box;
  z-index: 1;
}

.nav-links__wrap {
  display: block;
  min-width: 0;
}

.nav-links__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
  transition: opacity 0.2s;
}

.nav-links__item {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 32px;
  min-width: 32px;
  border-radius: 5px;
  outline: 0;
  box-shadow: none;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.4s;

  border: 0;
  background: transparent;
  font-family: Inter, Helvetica Neue, Helvetica, sans-serif;
  font-stretch: normal;
  font-weight: 600;
  font-style: normal;
  font-size: 1.4rem;
  line-height: 1.4em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  flex: 0 0 auto;
}

.nav-links__item:hover {
  background-color: var(--color-hover, #f6f5f5);
  color: var(--color-primary, #1a1919);
}

.nav-links__item-text {
  color: var(--color-primary, #1a1919);
  margin: 0 10px;
  display: inline-block;
  padding: 0;
  text-align: center;
  white-space: nowrap;
  transition: all 0.4s;
}

.header__actions {
  display: flex;
  align-items: center;
  padding-right: 40px;
  .action-link {
    display: inline-block;
    max-width: 100%;
    margin: -6px;
    padding: 6px 12px;
    overflow: hidden;
    border-radius: 5px;
    color: var(--color-primary, #1a1919);
    background: transparent;
    font-family: Inter, Helvetica Neue, Helvetica, sans-serif;
    font-stretch: normal;
    font-weight: 500;
    font-style: normal;
    font-size: 1.4rem;
    line-height: 1.4em;
    white-space: nowrap;
    text-align: left;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all 0.4s;
    &:hover {
      background-color: var(--color-hover, #f6f5f5);
      color: var(--color-primary, #1a1919);
    }
  }
  .action-button {
    background-color: var(--color-accent-action, #2a72db);
    border-color: transparent !important;
    color: var(--color-on-accent, #fff);
    border-radius: 36px;
    position: relative;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 36px;
    margin: 0 10px 0 0;
    padding: 0 25px;
    box-sizing: border-box;
    border: 1px solid var(--color-primary, #1a1919);
    outline: 0;
    box-shadow: none;
    font-family: Inter, Helvetica Neue, Helvetica, sans-serif;
    font-stretch: normal;
    font-weight: 600;
    font-style: normal;
    font-size: 1.3rem;
    line-height: 1.4em;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.4s;
    user-select: none;
  }
}
