// Header

.header {
  display: grid;
  background-color: #fff6f1;
  padding: 35px 28px;
  transition: box-shadow 0.25s, height 0.25s, padding 0.25s;
  box-sizing: border-box;
  position: fixed;
  width: 100%;
}

@media (max-width: 736px) {
  .header {
    display: grid;
    padding: 35px 28px;
  }
}

@media (min-width: 736px) {
  .header {
    padding: 38px 140px;
    grid-template-columns: max-content max-content;
    grid-gap: 60px;
  }
}

// Header Logo

@media (max-width: 736px) {
  .headerLogo {
    z-index: 1;
  }
}

// Header Menu

@media (max-width: 736px) {
  .headerMenu {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
  }
}

@media (min-width: 736px) {
  .headerMenu {
    align-self: center;
  }
}

// Header Compact

.headerCompact {
  box-shadow: 0 12px 24px 6px rgb(97 97 97 / 8%), 0 24px 48px 6px rgb(97 97 97 / 8%);
}

@media (min-width: 736px) {
  .headerCompact {
    padding: 22px 140px;
  }
}

@media (max-width: 736px) {
  .headerCompact {
    padding: 20px 28px;
    .headerMenu button {
      margin-top: 17px;
    }
  }
}
