.footer {
  display: block;
  flex: 0 0 auto;
  width: 100%;
  margin: 20px auto 0;
  padding: 0 20px;
  box-sizing: border-box;
  background-color: var(--color-bg-1, #fff);

  .socials {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: -20px;
    &__item {
      display: block;
      margin: 0 10px 20px;
    }
    &__item-icon {
      display: block;
      width: 45px;
      height: 45px;
      border-radius: 45px;
      background: var(--color-bg-2, #f6f6f6) no-repeat;
      background-position: 50%;
      background-size: cover;
    }
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 40px 0;
    border-top: 1px solid var(--color-divider, #efefef);
    &:first-child {
      border-top: 0;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
  }

  &__links-item {
    display: inline-block;
    padding: 15px 20px;
    font-family: Inter, Helvetica Neue, Helvetica, sans-serif;
    font-stretch: normal;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    line-height: 1.4em;
    color: var(--color-secondary, #b8b8b8);
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.4s;
    &:hover {
      color: var(--color-primary, #1a1919);
    }
  }
}

// .footer__wrap {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: flex-start;
//   padding: 40px 0;
//   border-top: 1px solid var(--color-divider, #efefef);
//   :first-child {
//     border-top: 0;
//   }

//   .footer__links {
//     display: flex;
//     flex-direction: column;
//     flex-wrap: wrap;
//     align-items: center;
//     justify-content: center;
//     margin: 10px 0;
//     .footer__links-item {
//       display: inline-block;
//       padding: 15px 20px;
//       font-family: Inter, Helvetica Neue, Helvetica, sans-serif;
//       font-stretch: normal;
//       font-weight: 400;
//       font-style: normal;
//       font-size: 1.5rem;
//       line-height: 1.4em;
//       color: var(--color-secondary, #b8b8b8);
//       text-align: center;
//       text-decoration: none;
//       cursor: pointer;
//       transition: all 0.4s;
//       &:hover {
//         color: var(--color-primary, #1a1919);
//       }
//     }
//   }
// }
