@import url('https://rsms.me/inter/inter.css');

:root {
  --color-primary: #1a1919;
  --color-secondary: #b8b8b8;
  --color-shadow: rgba(0, 0, 0, 0.14);
  --color-shadow-2: rgba(0, 0, 0, 0.1);
  --color-mute: rgba(0, 0, 0, 0.7);
  --color-mute-frame: hsla(0, 0%, 100%, 0.9);
  --color-bg-1: #fff;
  --color-bg-2: #f6f6f6;
  --color-bg-3: #aeaeae;
  --color-bg-blur: hsla(0, 0%, 100%, 0.6);
  --color-hover: #f6f5f5;
  --color-divider: #efefef;
  --color-border: #eee;
  --color-accent-alarm: #f13939;
  --color-accent-action: #2a72db;
  --color-accent-warning: #ffc414;
  --color-accent-success: #11c177;
  --color-accent-lebedev: #bfc1fa;
  --color-accent-varlamov: #449dcc;
  --color-on-primary: #fff;
  --color-on-secondary: #fff;
  --color-on-accent: #fff;
  --color-on-social: #fff;
  --color-social-facebook: #2f4694;
  --color-social-google: #ea4335;
  --color-social-telegram: #08c;
  --color-social-twitch: #8f50fb;
  --color-social-telegraph: #f2f2f2;
  --color-social-livejournal: #00b0ea;
  --color-social-apple: #000;
  --color-primary-underline: rgba(26, 25, 25, 0.2);
  --color-accent-action-underline: rgba(42, 114, 219, 0.3);
  --shadow-main: 0px 18px 36px rgba(0, 0, 0, 0.14);
  --shadow-card: 0px 12px 52px rgba(0, 0, 0, 0.1);
  --autocolor-lightness: 60%;
  --autocolor-background-lightness: 95%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #ebebeb;
    --color-secondary: #696969;
    --color-shadow: rgba(0, 0, 0, 0.48);
    --color-shadow-2: rgba(0, 0, 0, 0.1);
    --color-mute-frame: rgba(0, 0, 0, 0.9);
    --color-bg-1: #232323;
    --color-bg-2: #2b2b2c;
    --color-bg-3: #aeaeae;
    --color-bg-blur: rgba(30, 30, 30, 0.7);
    --color-hover: #313131;
    --color-divider: #323232;
    --color-border: #393939;
    --color-accent-alarm: #f35151;
    --color-accent-action: #407fdf;
    --color-accent-warning: #ffcb2e;
    --color-accent-success: #13d986;
    --color-accent-lebedev: #262963;
    --color-accent-varlamov: #58a7d1;
    --color-on-primary: #0d0d0d;
    --color-on-secondary: #0d0d0d;
    --color-primary-underline: hsla(0, 0%, 92.2%, 0.2);
    --color-accent-action-underline: rgba(64, 127, 223, 0.3);
    --shadow-main: 0px 4px 80px rgba(0, 0, 0, 0.48);
    --shadow-card: 0px 12px 52px rgba(0, 0, 0, 0.1);
    --autocolor-lightness: 40%;
    --autocolor-background-lightness: 20%;
  }
}

html {
  background-color: var(--color-bg-1, #fff);
  border-color: var(--color-primary, #1a1919);
  color: var(--color-primary, #1a1919);
  font-family: Inter, 'Helvetica Neue', Helvetica, sans-serif;
  font-stretch: normal;
  font-weight: 400;
  font-style: normal;
  font-feature-settings: 'kern' on, 'liga' on, 'calt' on, 'tnum' off, 'case' off,
    'rlig' on, 'zero' on, 'ss01' off;
  font-size: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
}

body {
  position: relative;
  overflow-y: scroll;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-focus-ring-color: hsla(0, 0%, 100%, 0);
  -webkit-text-size-adjust: none;
  outline: none;

  width: 100%;
  min-height: 100vh;
  min-width: 320px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: block;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
